* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
}

.navbar__s1__title {
    color: #6d08cd ;
}

.navbar__s2 {
    padding: 10PX;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    color: black;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar button {
    padding: 5px;
    background-color:  #6d08cd ;
    color: white;
    border: solid 1px;
    border-radius: 5px;
    font-size: 15px;
}

.navbar button:hover,
:focus {
    background-color: white;
    color:  #6d08cd;
    border: solid  #6d08cd 1px;

}

.categories {
    padding: 15px;
    border-bottom: solid black 1px;
    display: flex;
    justify-content: space-around;
}

.categories p {
    padding: 13px;
    background-color: #6d08cd ;
    color: white;
    border-radius: 30px;
}

.categories p:hover,
:focus {
    color: #6d08cd ;
    background-color: white;
    border: solid black 1px;
}

.sale-image img {
    width: 100%;
}

.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

.course-card {
    width: 350px;
}

.course-card img {
    height: 250px;
    width: 100%;
}

.course-card p {
    padding: 3px;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
}

.footer__one p {
    margin: 20px;

}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}